<h1>Mongoid Orderable Demo</h1>

<hr/>

<h2>Employees:</h2>

<br/>

<%= form_tag order_employees_path, method: :get do |f| %>
  Orderable Column
  <%= select_tag :column, options_for_select([:position, :serial_no], selected: session[:order_by]) %>
  <%= submit_tag "Set"%>
<% end %>

<br/>

<table>
  <tr>
    <th>Serial no</th>
    <th>Name</th>
    <th>Position</th>
    <th colspan='4' align='center'>Move To</th>
    <th colspan='2' align='center'>Actions</th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td align='center'><%= employee.serial_no %></td>
    <td><%= employee.name %></td>
    <td align='center'><%= employee.position %></td>

    <td><%= link_to 'Top', reorder_employee_path(employee, order: :top) %>
    <td><%= link_to 'High', reorder_employee_path(employee, order: :higher) %>
    <td><%= link_to 'Low', reorder_employee_path(employee, order: :lower) %>
    <td><%= link_to 'Bottom', reorder_employee_path(employee, order: :bottom) %>

    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br/>

<%= form_tag move_employees_path, method: :get do |f| %>
  <%= select_tag :employee_id, options_from_collection_for_select(@employees, "id", "name") %>
  move to position
  <%= select_tag :position, options_for_select(1..@employees.length) %>
  <%= submit_tag "Move"%>
<% end %>

<br/>

<%= form_tag list_employees_path, method: :get, remote: true do |f| %>
  List
  <%= select_tag :list, options_for_select([:next, :prev, :all_next, :all_prev]) %>
  for
  <%= select_tag :employee_id, options_from_collection_for_select(@employees, "id", "name") %>
  <%= submit_tag "List"%>
<% end %>

<div id='employee_list'></div>

<br/>

<%= link_to 'New Employee', new_employee_path %>
